.login{
    background-color: transparent;
    header{
        background-color: transparent;
        h4 {
            margin: 0;
            font-size: 26px;
        }
    }
    main{
        height: 460px;
        position: relative;
        background-image: url('/Images/4.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        form{
            padding: 24px 24px 0;
            width: 400px;
            position: absolute;
            right: 34%;
            top: 40px;
            background-color: rgba(255, 255, 255, .8);
            border-radius: 4px;
        }
    }
    footer{
        background-color: transparent;
        h5 {
            margin: 0;
            font-size: 20px;
        }
    }
    :global{
        // .ant-form-item-label{
        //     flex: 0 0 80px;
        // }
        // .ant-form-item-control{
        //     width: calc(100% - 80px);
        //     max-width: calc(100% - 80px);
        // }
    }
}